/* Tabs. */
#titlebar {
  --tab-min-height: 26px !important; /* Tab size. 26 Compact */
  --tab-block-margin: 3px !important; /* Padding above and below tabs. 2 Compact */
}
.tabbrowser-tab {
  padding-inline: 1.5px !important; /* Padding between tabs. 1 Compact */
}
#tabs-newtab-button {
  /* padding-inline-start: 1px !important; */ /* Padding between tabs and new tab button. Uncomment for Compact */
}
.tab-close-button {
  width: 22px !important; /* 22 Compact */
  height: 22px !important; /* 22 Compact */
  padding: 6px !important; /* 6 Compact */
}

/* .tab-secondary-label */ {
  /* font-size: .72em !important; */ /* Resizes the text under the tab title when there's audio playing. */
  /* margin-top: -1px !important; */
  /* font-size: 0 !important; */ /* Uncomment to remove the text, but the audio icon won't display on the tab unless you hover your mouse over the tab area. */
}

/* URL bar. */
#urlbar {
  --urlbar-height: 24.00px !important; /* 24 Compact */
  --urlbar-toolbar-height: 30px !important; /* 30 Compact */
  --urlbar-min-height: 24px !important; /* Should be the same value as --url-bar-height. */
  --urlbar-icon-padding: 3px !important; /* Padding of the icons in the URL bar. */
  --urlbar-container-padding: 0px !important; /* Padding of the icons in the URL bar. Set to 0 if using above compact values, or the bookmark star and other icons are to small. */
}
#urlbar-container {
  --urlbar-container-height: 30.00px !important; /* Should be the same value as --urlbar-toolbar-height. */
}
/* Fixes size of box when you use a search shortcut and press escape. Uncomment if using above compact values. */
#urlbar-search-mode-indicator {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

#identity-icon-box {
  margin-left: 1px !important; /* Moves search icon 1 pixel to the right. */
}

/* Navbar icons. */
#nav-bar {
  --toolbar-start-end-padding: 6px !important; /* Navbar button edge padding */
  --toolbarbutton-outer-padding: 4px !important; /* Padding of the icons. */
  --toolbarbutton-inner-padding: 5px !important; /* Padding of the icons. */
}

/* Bookmarks bar. */
#PersonalToolbar {
  padding-inline: 4px !important; /* Padding from the edges. */
  --bookmark-block-padding: 1px !important; /* How big the bookmarks on the bar are. */
  /* margin-top: -1px !important; */
  /* margin-bottom: -1px !important; */
}
#personal-bookmarks {
  /* margin-block: -1px; */ /* Reduces size of bookmark bar. Uncomment for Compact. */
}

/* Searchbar size fix */
#search-container {
  min-height: 24px !important; /* Should be same as --urlbar-min-height */
  height: 24px !important; /* Should be same as --urlbar-min-height */
}
#search-container {
  padding-block: 3px !important;
}

/* Tab lebel masking. */
.tabbrowser-tab {
  --tab-label-mask-size: 1em !important;
}

.tabbrowser-tab[visuallyselected=true]:hover,
#tabbrowser-tabs:not([closebuttons=activetab]) > #tabbrowser-arrowscrollbox > .tabbrowser-tab:not([visuallyselected=true]):hover {
  --tab-label-mask-size: 1.3em !important;
}

.tab-label-container:not([pinned]) {
  margin-right: -3px !important;
}

.tabbrowser-tab:not([pinned]):hover .tab-label-container {
  margin-right: 0px !important;
}

/*** Compact sound icon ***/
/* Disables the text when audio is playing etc. */
.tab-secondary-label:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]) {
  display: none !important;
}
/* Always show the favicon when sound is playing etc. */
.tab-icon-stack:is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]) > :not(.tab-icon-overlay) {
  opacity: 1 !important;
}
/** Positioning of the sound icon. **/
.tab-icon-overlay:not([sharing], [crashed]):is([soundplaying], [muted], [activemedia-blocked], [pictureinpicture]) {
  opacity: 1 !important;
  inset-inline-end: -7px !important;
  top: -5px !important;
  z-index: 1 !important;
  padding: 2px !important;
  border-radius: 10px !important;
  fill-opacity: 0.95 !important;
  stroke: var(--toolbar-bgcolor) !important;
  background-color: transparent !important;
}
/** Colors **/
/* Sleceted Hovered */
.tabbrowser-tab:is([selected]) .tab-icon-overlay:not([crashed], [sharing]):hover {
  stroke: transparent !important;
  background-color: var(--toolbar-bgcolor) !important;
  fill-opacity: 1 !important;
  padding: 1px !important;
}
/* Not Selected Hovered */
.tabbrowser-tab:not([selected]) .tab-icon-overlay:not([crashed], [sharing]):hover {
  stroke: transparent !important;
  background-color: var(--toolbar-bgcolor) !important;
  fill-opacity: 1 !important;
  padding: 1px !important;
}

/** Fallback when there's no favicon **/
.tabbrowser-tab:not([image]) .tab-icon-overlay:not([pinned], [sharing], [crashed]) {
  top: 0 !important;
  inset-inline-end: 0 !important;
  stroke: transparent !important;
}
