/* Tabs. */
#titlebar {
  --tab-min-height: 26px !important; /* Tab size. 26 Compact */
  --proton-tab-block-margin: 2px !important; /* Padding above and below tabs. 2 Compact */ /* replace with --tab-block-margin after update. */
}
.tabbrowser-tab {
  padding-inline: 1px !important; /* Padding between tabs. 1 Compact */
}
#tabs-newtab-button {
  padding-inline-start: 1px !important; /* Padding between tabs and new tab button. Uncomment for Compact */
}
.tab-close-button {
  width: 22px !important; /* 22 Compact */
  height: 22px !important; /* 22 Compact */
  padding: 6px !important; /* 6 Compact */
}
.tab-secondary-label {
  font-size: .72em !important; /* Resizes the text under the tab title when there's audio playing. */
  margin-top: -1px !important;
  /* font-size: 0 !important; */ /* Uncomment to remove the text, but the audio icon won't display on the tab unless you hover your mouse over the tab area. */
}

/* URL bar. */
#urlbar {
  --urlbar-height: 24.00px !important; /* 24 Compact */
  --urlbar-toolbar-height: 30px !important; /* 30 Compact */
  --urlbar-min-height: 24px !important; /* Should be the same value as --url-bar-height. */
  --urlbar-icon-padding: 3px !important; /* Padding of the icons in the URL bar. */
  --urlbar-container-padding: 0px !important; /* Padding of the icons in the URL bar. Set to 0 if using above compact values, or the bookmark star and other icons are to small. */
}
#urlbar-container {
  --urlbar-container-height: 30.00px !important; /* Should be the same value as --urlbar-toolbar-height. */
}
/* Fixes size of box when you use a search shortcut and press escape. Uncomment if using above compact values. */
#urlbar-search-mode-indicator {
  margin-top: 1px !important;
  margin-bottom: 1px !important;
}

#identity-icon-box {
  margin-left: 1px !important; /* Moves search icon 1 pixel to the right. */
}

/* Navbar icons. */
#nav-bar {
  --toolbar-start-end-padding: 6px !important; /* Navbar button edge padding */
  --toolbarbutton-outer-padding: 3px !important; /* Padding of the icons. */
  --toolbarbutton-inner-padding: 5px !important; /* Padding of the icons. */
}

/* Bookmarks bar. */
#PersonalToolbar {
  padding-inline: 4px !important; /* Padding from the edges. */
  --bookmark-block-padding: 1px !important; /* How big the bookmarks on the bar are. */
  /* margin-top: -1px !important; */
  /* margin-bottom: -1px !important; */
}
#personal-bookmarks {
  /* margin-block: -1px; */
}

/* Searchbar size fix */
#search-container {
  min-height: 24px !important; /* Should be same as --urlbar-min-height */
  height: 24px !important; /* Should be same as --urlbar-min-height */
}
#search-container {
  padding-block: 3px !important;
}
